<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BIS345_Week6_Exercise7_BooksDB.Properties.Settings.BIS345ConnectionString"
            connectionString="Data Source=MORRESEMORRDED3;Initial Catalog=BIS345;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>